<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${packageModuleName}.module.${moduleName}.mapper.${className}Mapper">

    <resultMap type="${packageModuleName}.org.modules.model.${moduleName}.model.${className}Model" id="baseMap">
    #foreach($column in $columns)
        <result property="${column.attrNameAttribute}" column="${column.columnName}"/>
    #end
    </resultMap>

    <resultMap type="${packageModuleName}.org.modules.model.${moduleName}.dto.${className}DTO" id="dtoMap">

    </resultMap>

</mapper>