package ${packageModuleName}.module.${moduleName}.web.service.impl;

import ${packageModuleName}.module.${moduleName}.mapper.${className}Mapper;
import ${packageModuleName}.org.modules.model.${moduleName}.model.${className}Model;
import ${packageModuleName}.module.${moduleName}.web.service.I${className}Service;
import com.org.bebasWh.mapper.cache.ServiceImpl;
import org.springframework.stereotype.Service;

/**
 * ${comments} 业务实现类
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper,${className}Model> implements I${className}Service {

}
